<div class="container" *ngIf="user">

  <div class="row justify-content-center align-items-center">
    <div class="auth-box">
<!--      sign-up-->

      <div *ngIf="!isConfirm">
        <div class="header">
          <h2>Register</h2>
          <h4>Register Your Account Using Below Information</h4>
        </div>

        <div class="form">
          <input type="text" name="givenName" [(ngModel)]="user.givenName" placeholder="First Name">
          <input type="text" name="familyName" [(ngModel)]="user.familyName" placeholder="Last Name">
          <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Address" autocomplete="off">
          <input [type]="user.showPassword ? 'text':'password'" name="password" placeholder="Password"[(ngModel)]="user.password">
          <div>
            <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword=!user.showPassword">
            Show Password
          </div>
          <p>Already a member?<a href="/sign-in">Sign-in</a></p>
          <button (click)="signUpWithCognito()">REGISTER</button>
        </div>
      </div>

<!--      confirm sign up-->
      <div *ngIf="isConfirm">
        <div class="header">
          <h2>Enter Code</h2>
          <h4 style="color: green;">A verification code sent to {{user.email}}</h4>
        </div>
        <div class="form">
          <input type="text" name="verificationCode" placeholder="Enter Verification code" [(ngModel)]="user.code">
          <button (click)="confirmSignUp()">CONFIRM</button>
        </div>

      </div>



    </div>
  </div>
</div>
